
.ql-container {
    height: 100% !important;
    border: 1px solid #e2e8f0 !important;
    outline: none !important; /* Ensure there's no outline */
    background-color: white !important;
}
  
  .ql-toolbar {
    border: 0 !important;
    border-bottom: 1px solid #e2e8f0 !important; /* Border bottom for toolbar */
  }
  
  /* Apply focus styles when the container is focused */
  .ql-container.ql-snow:focus-within {
    outline: none !important;
    border: 0 !important;
    box-shadow: 0 0 0 2px rgba(16, 185, 129, 0.5) !important; /* Tailwind's focus:ring-2 focus:ring-green-500 */
  }
  